* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Plain Light";
    
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #000;
    cursor: none;
    overflow: hidden;
}
.custom-cursor {
    position: absolute;
    width: 2.5vw;
    height: 2.5vw;
    border: 1px solid rgb(209, 198, 198); 
    border-radius: 50%; 
    pointer-events: none; 
    transform: translate(-50%, -50%); 
    z-index: 1000; 
}

#loader {
    height: 100%;
    width: 100%;
    background-color: #0b0b0b;
    padding: 20vh 8vw;
    position: fixed;
    z-index: 999;
}

.line {
    /* background-color: red; */
    height: fit-content;
    overflow: hidden;
    display: flex;
    justify-content: start;
    align-items: self-start;
    gap: 3.2vw;
}

#part1 {
    display: flex;
    justify-content: center;
    align-items: normal;
    /* background-color: green; */
    padding-left: 4vw;
    margin-top: 0.45vw;
    gap: 1vw;
}

#part1 h5,
h6 {
    font-size: 3vw;
    font-family: "Silk Serif";
    font-weight: 500;
}

#part1 h5 {
    /* background-color: red; */
    width: 5vw;
    text-align: right;
}

.line h1 {
    font-size: 7vw;
}

.line h2 {
    font-size: 5.8vw;
    /* background-color: aqua; */
    width: 16vw;
    height: 8vw;
    padding-left: 0.5vw;
    animation: anime 2s infinite;
}

@keyframes anime {
    0% {
        font-family: "Plain Light";
    }
    48% {
        font-family: "Silk Serif";
        font-weight: 900;
        -webkit-text-stroke: 1px white;
        color: transparent;
    }
    50% {
        font-family: "Plain Light";
        -webkit-text-stroke: 1px white;
        color: white;
    }
    100% {
        font-family: "Silk Serif";
        font-weight: 900;
        -webkit-text-stroke: 1px white;
        color: transparent;
    }
}

#loader p {
    width: 80%;
    height: 5vw;
    font-size: 1.25vw;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#main {
    position: relative;
    background-color: black;
}

#page1 {
    width: 100%;
    height: 100vh;
    background-color: #151515;
}
#nav {
    width: 100%;
    height: 8vw;
    padding: 2vw 3vw;
    /* background-color: burlywood; */
    display: flex;
    justify-content: space-between;
}

#nav h5 {
    font-size: 1vw;
    font-weight: 400;
}
.navstart {
    width: 35%;
    display: flex;
    justify-content: space-between;
}
.start {
    /* position: fixed; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    margin-bottom: 2.2vw;
}
.start svg {
    font-size: 2.5vw;
}
.navend {
    display: flex;
    justify-content: flex-end;
    gap: 3vw;
}
#page1Center {
    width: 100%;
    height: 83vh;
    /* background-color: red; */
    padding-top: 5vw;
    
}
/* .num{
    width: 28%;
    height: 10vh;
    background-color: #FFA63D;
} */

.elem {
    /* background-color: rgb(176, 236, 87); */
    width: 72%;
    margin-left: 28%;
    height: fit-content;
    overflow: hidden;
    margin-bottom: 5px;
}
.elem:nth-child(1){
    /* background-color: rgb(87, 199, 236); */
    width: 80%;
    margin-left: 20%;
    height: fit-content;
    overflow: hidden;
    margin-bottom: 5px;
    display: flex;
    gap: 2.3vw;
}
.elem h3{
    font-family: 'Silk Serif';
    font-size: 3vw;
    width: 6vw;
    height: 11vh;
    /* background-color: blue; */
}
.elemh1 {
    display: flex;
    align-items: center;
}
.elemh1 h1 {
    text-decoration: underline;
}
.elem h1 {
    font-size: 7.2vw;
    position: relative;
    line-height: 16vh;
}
#page1Center h2 {
    font-size: 7.2vw;
    margin-left: 2vh;
}

.elemh1 h1:hover {
    -webkit-text-stroke: 1px white;
    color: transparent;
    font-weight: 500;
    text-decoration: none;
    background: url("/images/Flag.jpg");
    background-size: cover;
    background-position: center;
}
#page2 {
    width: 100%;
    height: 100vh;
    background-color: #151515;
    padding-top: 20vh;
    position: relative; 
}

.videobox {
    width: 73%;
    height: 70vh;
    margin-left: 27%;
    /* background-color: red; */
    /* position: relative; */
    overflow: hidden;
}
.videobox video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
}
.videobox img{
    width: 100%;
    height: 100%;
    background-color: goldenrod;
    object-fit: cover;
    
}
#playbtn{
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    position: absolute;
    background-color: #FFA63D;
    left: 80%;
    bottom: 68%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#playbtn i{
    font-size: 2vw;
}

#page3{
    width: 100%;
    /* height: 100vh; */
    background-color: #151515;
    padding-top: 5vw;
    padding-bottom: 5vw;
} 
 #page3Heading{
    width: 78%;
    height: 28vh;
    margin-left: 19%;
    /* background-color: cadetblue;  */
    /* border-bottom: 3px solid white; */
    margin-bottom: 8vw;
    display: flex;
    /* gap: 6vw; */
}
.numHeading{
    width: 8vw;
    height: 100%;
    /* background-color: red; */
    
}
#page3Heading h3{
    font-family: 'Silk Serif';
    font-size: 3vw;
    margin-top: 1vh;
}
#page3Heading h1{
    font-size: 7vw; 
    width: 100%;
    /* margin-top: 1vw; */
    border-bottom: 3px solid white;
}

#page3Center{
    width: 100%;
    display: flex;
    gap: 2vw;
    padding-left: 3vw;
    padding-right: 3vw;
}
.part1{
    width: 30%;
    /* height: 100vh; */
    /* background-color: red; */
}
.part2{
    width: 35%;
    /* height: 100vh; */
    /* background-color: red; */
}
.part3{
    width: 35%;
    /* height: 100vh; */
    /* background-color: red; */
}
.part1ImgDiv1{
    width: 100%;
    height: 65vh;
    margin-bottom: 2vw;
    position: relative;
    overflow: hidden;
}
.part1ImgDiv1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.part1 h1{
    font-size: 2.3vw;
    margin-left: 1vw;
    margin-bottom: 2vw;
}
.page3Text1{
    width: 100%;
    height: 10vh;
    /* background-color: aqua;  */
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid white;
}
#page3Circle1{
    width: 33%;
    height: 120vh;
    /* background-color: aquamarine; */
    position: relative;
    padding-top: 13vw;
}
#page3Circle1 div{
    width: 20vw;
    height: 20vw;
    margin-left: 3vw;
    border-radius: 50%;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#page3Circle1 svg{
    width:8vw;
    height: 8vw;
    rotate: 45deg;
}
.circle-in{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 23%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    transition: all ease 0.3s;
    scale: 0;
    border-radius: 50%;
}
.circle-in p{
    color: black;
    font-weight: 600;
    transition: all ease 0.3s;
    scale: 0;
    transition-delay: 0.4s;
}
#page3Circle1 div:hover .circle-in{
    scale:1;
}
#page3Circle1 div:hover .circle-in p{
    scale:1
}
.part2ImgDiv{
    width: 100%;
    height: 86vh;
    margin-bottom: 2vw;
    position: relative;
    overflow: hidden;
}
.part2ImgDiv img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.part2 h1{
    font-size: 2.3vw;
    margin-left: 1vw;
    margin-bottom: 2vw;
}
.page3Text2{
    width: 100%;
    height: 10vh;
    /* background-color: aqua;  */
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid white;
    margin-bottom: 7vw;
}
.page3Text3{
    width: 100%;
    height: 7vh;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid white;
}
#page3Circle2{
    width: 33%;
    height: 110vh;
    /* background-color: aquamarine; */
    position: relative;
    padding-top: 30vw;
    padding-left: 7.5vw;
}
#page3Circle2 div{
    
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#page3Circle2 svg{
    width: 8vw;
    height: 8vw;
}
.circle-in2{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 57.5%;
    left: 72%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    transition: all ease 0.3s; 
    scale: 0;
    border-radius: 50%;
}
.circle-in2 p{
    color: black;
    font-weight: 600;
    transition: all ease 0.3s; 
    scale: 0;
    transition-delay: 0.4s;
}
#page3Circle2 div:hover .circle-in2{
    scale: 1;
}
#page3Circle2 div:hover .circle-in2 p{
    scale: 1;
}
#circle{
    width: 100%;
    height: 60vh;
    /* background-color: aqua; */
    position: relative;

}
.mainCircle{
    margin-top: 10vw;
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    background-color: #FFA63D;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5%;
    left: 25%;

}
.mainCircle h6{
    font-size: 1vw;
}

#page3Circle3{
    width: 33%;
    height: 110vh;
    /* background-color: aquamarine; */
    position: relative;
    padding-top: 30vw;
    padding-left: 5vw;
}
#page3Circle3 div{
    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#page3Circle3 svg{
    width: 8vw;
    height: 8vw;
    rotate: 90deg;
}
.circle-in3{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 57.5%;
    left: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    transition: all ease 0.3s;
    scale: 0;
    border-radius: 50%;
}
.circle-in3 p{
    color: black;
    font-weight: 600;
    transition: all ease 0.3s;
    scale: 0;
    transition-delay: 0.4s;
}
#page3Circle3 div:hover .circle-in3{
    scale: 1;
}
#page3Circle3 div:hover .circle-in3 p{
    scale: 1;
}
.part3 h1{
    font-size: 2.3vw;
    margin-left: 1vw;
    margin-bottom: 2vw;
}
.part3ImgDiv{
    width: 100%;
    height: 83vh;
    margin-bottom: 2vw;
    position: relative;
    overflow: hidden;
}
.part3ImgDiv img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.page3Text4{
    width: 100%;
    height: 7vh;
    /* background-color: aqua;  */
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid white;
    margin-bottom: 25vh;
}
#page4{
    width: 100%;
    background-color: #151515;
    padding-top: 5vw;
    padding-bottom: 5vw;
}
#page4Heading{
    width: 78%;
    height: 28vh;
    margin-left: 19%;
    /* background-color: cadetblue;  */
    /* border-bottom: 3px solid white; */
    margin-bottom: 4vw;
    display: flex;
}
.numHeading2{
    width: 8vw;
    height: 100%;
    /* background-color: red; */
}
#page4Heading h3{
    font-family: 'Silk Serif';
    font-size: 3vw;
    margin-top: 1vh;
}
#page4Heading h1{
    width: 100%;
    font-size: 7vw;
    border-bottom: 3px solid white; 
}
#page4Content{
    width: 70%;
    /* height: 100vh; */
    margin-left: 27%;
    /* background-color: cadetblue; */
    
}
.firstParagraph{
    font-size: 2.3vw;
    /* line-height: 4.6vh; */
}
.imgContent{
    width: 100%;
    height: 87vh;
    /* background-color: red; */
    margin-top: 3vw;
    display: flex;
    gap: 2vw;
    position: relative;
}
.imgContent img{
    width: 50%;
    height: 100%;
    /* background-color: burlywood; */
    object-fit: cover;
    
}
.imgContent p{
    width: 50%;
    height: 100%;
    /* background-color: rgb(144, 135, 222); */
}
.blueContent{
    width: 33vw;
    height: 85vh;
    background-color: #3F7DF4;
    position: absolute;
    left: 35%;
    top: 70%; 
    padding: 3vw 3vw; 
}
.blueText{
    width: 100%;
    height: 14vh;
    /* background-color: chartreuse; */
    /* margin-bottom: 2vw; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid white;
    
}
.blueText p{
    margin-top: 6vw;
    /* width: 10vw; */
    /* background-color: red;
    height: fit-content; */
   
}
.lastText{
    width: 100%;
    height: 10vh;
    /* background-color: brown; */
    margin-top: 80vh;
    display: flex;
    align-items: center;
    border-top: 2px solid white;
}
#page5{
    width: 100%;
    height: 100vh;
    background-color: #151515;
}
.page5Text{
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: -2vw;
}
.page5Text h1{
    font-size: 7vw;
    display: inline-block;
    -webkit-text-stroke: 2px white;
    color: transparent;
    font-weight: 400;
    margin-right: 16px;
    animation: page5anime linear 12s infinite;
    
}
.page5Text span{
    font-family: 'Silk Serif';
    color: transparent;
}

@keyframes page5anime {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 20px));
    }
    
}
.page5Text2{
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: -2vw;
}
.page5Text2 h1{
    font-size: 7vw;
    display: inline-block;
    -webkit-text-stroke: 2px white;
    color: transparent;
    font-weight: 400;
    margin-right: 16px;
    /* transform: translateX(calc(-100% - 20px)); */
    animation: page5anime linear 12s infinite reverse;
    
}
.page5Text2 span{
    font-family: 'Silk Serif';
    color: transparent;
}

#footer{
    width: 100%;
    height: 100vh;
    background-color: #151515;
}
#footerHeading{
    width: 78%;
    height: 28vh;
    margin-left: 19%;
    /* background-color: cadetblue;  */
    /* border-bottom: 3px solid white; */
    margin-bottom: 4vw;
    display: flex;
    /* gap: 3vw; */
}
.lastHeading{
    width: 100%;
    display: flex;
    gap: 3vw;
    border-bottom: 3px solid white;
}
.numHeading3{
    width: 8vw;
    height: 100%;
    /* background-color: red; */
}
#footerHeading h3{
    font-family: 'Silk Serif';
    font-size: 3vw;
    margin-top: 1vh;
}
#footerHeading h1{
    font-size: 7vw;
     
}
#footerHeading svg{
    margin-top: 2.5vw;
    width: 6.5vw;
    height: 5vw;
}
#footerHeading h1:hover{
    font-family: 'Silk Serif';
    -webkit-text-stroke: 0.3vh white;
    color: transparent;
    font-weight: 400;
}
.footerText{
    width: 70%;
    height: 48vh;
    margin-left: 27%;
    padding-top: 2vw;
    /* background-color: aqua; */
    display: flex;
    gap: 1vw;    
}
.footerTextBox{
    width: 20vw;
    height: 35vh;
    /* background-color: tomato; */
}
.footerTextBox h5{
    font-size: 1vw;
    margin-bottom: 1.5vw;
}
.footerTextBox h5, h2{
    font-weight: 500;
}
.footerLastText{
    width: 70%;
    margin-left: 27%;
    height: 8vh;
    border-top: 2px solid white;
    /* background-color: blueviolet; */
}
._canvas_container {
    z-index: 999999 !important;
    pointer-events: none;
}